@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link href="/css/Home.css" rel="stylesheet">
</head>

<div class="text-center">
    <div class="div-filho-componentes">
        <div class="div-titulo-pagina">Bem Vindo!</div>
        <div class="div-planos-pagina">
            <div class="div-titulos-planos-pagina">LAN HOUSE HYDRA</div>
            <div class="div-componentes-planos-pagina">
                <div style="padding: 0px 15px 0px 0px;">
                    <div class="div-planos-pagina-itens">1 Hora R$ 7,00</div>
                </div>
                <div style="padding: 0px 15px 0px 0px;">
                    <div class="div-planos-pagina-itens">2 Horas R$ 10,00</div>
                </div>
                <div style="padding: 0px 15px 0px 0px;">
                    <div class="div-planos-pagina-itens">3 Horas R$ 13,00</div>
                </div>
                <div style="padding: 0px 15px 0px 0px;">
                    <div class="div-planos-pagina-itens">4 Horas R$ 15,00</div>
                </div>
                <div style="padding: 0px 15px 0px 0px;">
                    <div class="div-planos-pagina-itens">Viradão,24 Horas R$ 25,00</div>
                </div>
            </div>
        </div>
        <div class="div-planos-pagina">
            <div class="div-titulos-planos-pagina">PRODUTOS</div>
            <div class="div-componentes-planos-pagina">
                <div style="padding: 0px 15px 0px 0px;">
                    <div class="div-planos-pagina-itens">Coca Cola lata R$ 7,00</div>
                </div>
                <div style="padding: 0px 15px 0px 0px;">
                    <div class="div-planos-pagina-itens">Salgado R$ 5,50</div>
                </div>
                <div style="padding: 0px 15px 0px 0px;">
                    <div class="div-planos-pagina-itens">Salgadinho R$ 7,00</div>
                </div>
                <div style="padding: 0px 15px 0px 0px;">
                    <div class="div-planos-pagina-itens">Biscoito Recheado R$ 3,50</div>
                </div>
                <div style="padding: 0px 15px 0px 0px;">
                    <div class="div-planos-pagina-itens"> Café  R$ 3,00</div>
                </div>
            </div>
        </div>
    </div>
</div>
